*{
    margin: 0;
    padding: 0;
    border: 2px solid red;
}

body{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.sidebar{
    display: grid;
    gap: 10vh;
    place-content: start stretch;
    grid-row: 1/7;
}

.sidebar>.dashboard-options, .sidebar>.profile-options {
    display: grid;
    gap: 3vh;
}

.projects{
    grid-column: 2/3;
    grid-row-end: span 7;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px 15px;
    padding: 15px;
}

.projects-title{
    padding-top: 20px;
    grid-column: 2/3;
    padding-left: 15px;
}

.header{
    grid-column: 2/4;
    display: grid;
}

.header>.search-bar{
    display: grid;
    grid-template-columns: 1fr 15fr 4fr 1fr 4fr;
    padding: 15px 25px;
    padding-bottom: 0;
}

.header .controls{
    display: grid;
    grid-template-columns: 2fr 15fr 3fr 3fr 3fr;
    padding: 15px 25px;
}

.announcements{
    grid-column: 3/4;;
    display: grid;
    padding: 15px;
    grid-template-columns: 1fr;
    margin-right: 15px;
    border-radius: 15px;
}

.announcements-title{
    padding-top: 20px;
    grid-column: 3/4;
    padding-left: 15px;
}

.trending-title{
    grid-column: 3/4;
}

.trending{
    grid-column: 3/4;
    display: grid;
    border-radius: 15px;
    padding: 20px 0px;
    margin-right: 15px;
}

.search-bar .search-icon{
    place-self: center center;
    height: 20px;
}

.search-bar .search{
    border-radius: 15px;
    place-self: center stretch;
    height: 20px;
    border: 1px solid black;
    padding-left: 10px;
    font-size: 20px;
}

.search-bar .notifications-icon{
    height: 20px;
    place-self: center end;
}

.search-bar .logo{
    height: 41px;
    place-self: center center;
}

.search-bar .profile-name{
    place-self: center stretch;
}

button{
    border-radius: 15px;
    place-self: center;
    width: 80px;
    height: 30px;
}

.sidebar .profile-options img,
.sidebar .dashboard-options img{
    height: 24px;
}

.profile-options>div,
.dashboard-options>div{
    display: flex;
    align-items: center;
    justify-content: start;
    gap:15px;
    padding-left: 20px;
}

.sidebar .dashboard img{
    height: 42px;
}

.sidebar>.dashboard{
    display: flex;
    align-items: center;
    gap:12px;
    padding-left: 12px;
}

.controls img{
    place-self: center center;
    /* background-color: aquamarine; */
}

.controls>div{
    place-self: center start;
    padding-left: 10px;
}

.trending img{
    height: 30px;
}

.trending>div{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 10px;
}

.announcements>div{
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid black;
    padding: 10px 5px;
}

.announcements .last-announcement{
    border-bottom: 0;
}

.announcements>div>p{
    font-size: 12px;
}

.projects .card{
    border-radius: 15px;
    border-left: 8px solid orange;
    padding: 20px;
    font-size: 18px;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    height: 160px;
}

.projects .card p{
    font-size: 15px;
    font-weight: 100;
}

.projects .card .icons{
    display: flex;
    justify-content: end;
    gap: 20px;
}

.projects .card img{
    height: 20px;
}
